<div class=" flex flex-col">
    <div class="flex justify-between items-center mb-5"> 
        <div class="flex flex-col gap-2">
         <span class="text-md font-inter text-gray-700">Order <span class=" font-bold text-gold">#32688665 </span>was placed on <span class=" font-bold text-gold">11/2/2025</span> and is currently <span class=" font-bold text-gold">completed</span></span>
         <span class="font-inter font-bold text-gold">Address : <span class="text-gray-700 font-normal">1234 Elm Street Los Angeles, CA 90001 United States</span></span>
        </div> 
     <button class="btn bg-mainColor font-inter" [routerLink]="['/profile/all-orders']">Back to Orders</button>
    </div>  
    <div>
      <div class="overflow-x-auto rounded-box border border-base-content/4 bg-base-100 overflow-y-auto max-h-120">
            <table class="table w-full border-collapse" >
                <!-- head -->
                <thead class="bg-gray-100">
                <tr class="sticky top-0 bg-gray-100 z-10">
                    <th >No.</th>
                    <th>Item Image</th>
                    <th>Item Name</th>
                    <th>Base Price</th>
                    <th>Size</th>
                    <th>Color</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
                </thead>
        
     <tbody class=" overflow-y-auto w-full">
        <tr *ngFor="let row of rows; let i = index" >
            <th class="font-normal">{{ i + 1 }}</th>
            <td>
            <div class="mask mask-squircle h-12 w-12">
                <img
                src="https://img.daisyui.com/images/profile/demo/2@94.webp"
                alt="Avatar"
                />
            </div>
            </td>
            <td>{{ row.name }}</td>
            <td>$ {{ row.price }}</td>
            <td>{{ row.size }}</td>
            <td>{{ row.color }}</td>
            <td>{{ row.qty }}</td>
            <td>$ {{ row.total }}</td>
        </tr>
        </tbody>
                 <tfoot class="bg-gray-100">
                    <tr class="sticky bottom-0 bg-gray-100 z-10" >
                        <th>Total</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>$2300.00</th>
                    </tr>
                    </tfoot>
            </table>
            </div>

